node_modules/
.next/
dist/
build/
.env
.env.local
*.log
.DS_Store
__pycache__/
strapi-backend/.cache/
strapi-backend/.tmp/
strapi-backend/public/uploads/*
frontend/node_modules/@next/swc-linux-arm64-musl/next-swc.linux-arm64-musl.node
frontend/node_modules/@next/swc-linux-arm64-gnu/next-swc.linux-arm64-gnu.node
-e 
# Environment files
*.env
*.env.*
